openapi: 3.0.0
info:
  title: 'Avature Data API'
  version: '0.1'
  description: 'REST API for CRUD operations and actions on Avature Objects.'
servers:
  - url: 'https://junctiontraining.avature.net/'
    description: ''
paths:
  '/rest/avature/core/v1/data/compoundRecords_{entityExtensionId}':
    get:
      summary: 'GET CompoundRecords'
      description: 'Retrieve a list of compound records'
      parameters:
        - name: entityExtensionId
          in: path
          required: true
          description: 'Numeric entity extension ID used to identify the record type.'
          schema:
            type: integer
        - name: cursor
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: ids
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: modified_after
          in: query
          required: false
          description: 'Unix timestamp representing the point in time after which created or updated records should be returned.'
          schema:
            type: integer
        - name: person_id
          in: query
          required: false
          description: 'Filter compound records by person ID'
          schema:
            type: integer
        - name: object_id
          in: query
          required: false
          description: 'Filter compound records by object ID'
          schema:
            type: integer
        - name: fields
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: use_canonical_names
          in: query
          required: false
          description: ''
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompoundRecordSchemaIndex'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - General
      operationId: indexCompoundRecords
    post:
      summary: 'POST CompoundRecord'
      description: 'Create a compoundrecord'
      parameters:
        - name: entityExtensionId
          in: path
          required: true
          description: 'Compound relationship type identifier'
          schema:
            type: integer
      requestBody:
        description: 'The compoundrecord to create'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompoundRecordSchemaStore'
      responses:
        202:
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompoundRecordSuccessfulWriteResponse'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - General
      operationId: storeCompoundRecord
  '/rest/avature/core/v1/data/compoundRecords_{entityExtensionId}/{id}':
    get:
      summary: 'GET CompoundRecord'
      description: 'Retrieve a compound record from its ID'
      parameters:
        - name: entityExtensionId
          in: path
          required: true
          description: 'Numeric entity extension ID used to identify the record type.'
          schema:
            type: integer
        - name: id
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: fields
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: use_canonical_names
          in: query
          required: false
          description: ''
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompoundRecordSchemaShow'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - General
      operationId: showCompoundRecord
    delete:
      summary: 'DELETE CompoundRecord'
      description: 'Delete an individual compound record'
      parameters:
        - name: entityExtensionId
          in: path
          required: true
          description: 'Numeric entity extension ID used to identify the record type.'
          schema:
            type: integer
        - name: id
          in: path
          required: true
          description: ''
          schema:
            type: integer
      responses:
        204:
          description: 'Successfully deleted'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        409:
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - General
      operationId: deleteCompoundRecord
  '/rest/avature/core/v1/data/compoundRecords_{entityExtensionId}/{recordId}/field_{tableFieldId}':
    get:
      summary: 'GET CompoundRecordTableFieldRows'
      description: 'Retrieve a list of compound form table field rows'
      parameters:
        - name: entityExtensionId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: tableFieldId
          in: path
          required: true
          description: 'Numeric ID or canonical name used to identify the table field number.'
          schema:
            type: string
        - name: cursor
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: ids
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: modified_after
          in: query
          required: false
          description: 'Unix timestamp representing the point in time after which created or updated records should be returned.'
          schema:
            type: integer
        - name: use_canonical_names
          in: query
          required: false
          description: ''
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompoundRecordTableFieldRowSchemaIndex'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - 'Table Fields'
      operationId: indexCompoundRecordTableFieldRows
  '/rest/avature/core/v1/data/compoundRecords_{entityExtensionId}/{recordId}/field_{tableFieldId}/{id}':
    get:
      summary: 'GET CompoundRecordTableFieldRow'
      description: 'Retrieve a compound form table field row from its ID'
      parameters:
        - name: entityExtensionId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: tableFieldId
          in: path
          required: true
          description: 'Numeric ID or canonical name used to identify the table field number.'
          schema:
            type: string
        - name: id
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: use_canonical_names
          in: query
          required: false
          description: ''
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompoundRecordTableFieldRowSchemaShow'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - 'Table Fields'
      operationId: showCompoundRecordTableFieldRow
  '/rest/avature/core/v1/data/compoundRecords_{entityExtensionId}/{recordId}/files':
    get:
      summary: 'GET CompoundRecordFiles'
      description: 'Retrieve a list of compound record files'
      parameters:
        - name: entityExtensionId
          in: path
          required: true
          description: 'Numeric entity extension ID used to identify the record type.'
          schema:
            type: integer
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: cursor
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: ids
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: modified_after
          in: query
          required: false
          description: 'Unix timestamp representing the point in time after which created or updated records should be returned.'
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompoundRecordFileSchemaIndex'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - Files
      operationId: indexCompoundRecordFiles
  '/rest/avature/core/v1/data/compoundRecords_{entityExtensionId}/{recordId}/files/{id}':
    get:
      summary: 'GET CompoundRecordFile'
      description: 'Retrieve a compound record file from its ID'
      parameters:
        - name: entityExtensionId
          in: path
          required: true
          description: 'Numeric entity extension ID used to identify the record type.'
          schema:
            type: integer
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: id
          in: path
          required: true
          description: ''
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompoundRecordFileSchemaShow'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - Files
      operationId: showCompoundRecordFile
  '/rest/avature/core/v1/data/compoundRecords_{entityExtensionId}/{recordId}/forms':
    get:
      summary: 'GET CompoundRecordForms'
      description: 'Retrieve a list of compoundrecordforms'
      parameters:
        - name: entityExtensionId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: cursor
          in: query
          required: false
          description: ''
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompoundRecordFormSchemaIndex'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - Forms
      operationId: indexCompoundRecordForms
  '/rest/avature/core/v1/data/compoundRecords_{entityExtensionId}/{recordId}/forms_{formTypeId}':
    get:
      summary: 'GET FormsFromACompoundRecord'
      description: 'Retrieve a list of forms from a compound record'
      parameters:
        - name: entityExtensionId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: formTypeId
          in: path
          required: true
          description: 'Numeric ID or canonical name used to identify the form schema.'
          schema:
            type: string
        - name: cursor
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: ids
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: use_canonical_names
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: modified_after
          in: query
          required: false
          description: 'Unix timestamp representing the point in time after which created or updated records should be returned.'
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormFromACompoundRecordSchemaIndex'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - Forms
      operationId: indexFormsFromACompoundRecord
    post:
      summary: 'POST FormFromACompoundRecord'
      description: 'Create a formfromacompoundrecord'
      parameters:
        - name: entityExtensionId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: formTypeId
          in: path
          required: true
          description: ''
          schema:
            type: integer
      requestBody:
        description: 'The formfromacompoundrecord to create'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormFromACompoundRecordSchemaStore'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormFromACompoundRecordSuccessfulWriteResponse'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        422:
          description: 'Unprocessable Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - Forms
      operationId: storeFormFromACompoundRecord
  '/rest/avature/core/v1/data/compoundRecords_{entityExtensionId}/{recordId}/forms_{formTypeId}/{formId}/field_{tableFieldId}':
    get:
      summary: 'GET CompoundFormTableFieldRows'
      description: 'Retrieve a list of compound form table field rows'
      parameters:
        - name: entityExtensionId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: formTypeId
          in: path
          required: true
          description: 'Numeric ID or canonical name used to identify the form schema.'
          schema:
            type: string
        - name: formId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: tableFieldId
          in: path
          required: true
          description: 'Numeric ID or canonical name used to identify the table field number.'
          schema:
            type: string
        - name: cursor
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: ids
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: modified_after
          in: query
          required: false
          description: 'Unix timestamp representing the point in time after which created or updated records should be returned.'
          schema:
            type: integer
        - name: use_canonical_names
          in: query
          required: false
          description: ''
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompoundFormTableFieldRowSchemaIndex'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - 'Form Table Fields'
      operationId: indexCompoundFormTableFieldRows
  '/rest/avature/core/v1/data/compoundRecords_{entityExtensionId}/{recordId}/forms_{formTypeId}/{formId}/field_{tableFieldId}/{id}':
    get:
      summary: 'GET CompoundFormTableFieldRow'
      description: 'Retrieve a compound form table field row from its ID'
      parameters:
        - name: entityExtensionId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: formTypeId
          in: path
          required: true
          description: 'Numeric ID or canonical name used to identify the form schema.'
          schema:
            type: string
        - name: formId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: tableFieldId
          in: path
          required: true
          description: 'Numeric ID or canonical name used to identify the table field number.'
          schema:
            type: string
        - name: id
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: use_canonical_names
          in: query
          required: false
          description: ''
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompoundFormTableFieldRowSchemaShow'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - 'Form Table Fields'
      operationId: showCompoundFormTableFieldRow
  '/rest/avature/core/v1/data/compoundRecords_{entityExtensionId}/{recordId}/forms_{formTypeId}/{id}':
    get:
      summary: 'GET FormFromACompoundRecord'
      description: 'Retrieve a form from a compound record'
      parameters:
        - name: entityExtensionId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: formTypeId
          in: path
          required: true
          description: 'Numeric ID or canonical name used to identify the form schema.'
          schema:
            type: string
        - name: id
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: use_canonical_names
          in: query
          required: false
          description: ''
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormFromACompoundRecordSchemaShow'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - Forms
      operationId: showFormFromACompoundRecord
    delete:
      summary: 'DELETE FormFromACompoundRecord'
      description: 'Delete an individual form from a compound record'
      parameters:
        - name: entityExtensionId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: formTypeId
          in: path
          required: true
          description: 'Numeric ID or canonical name used to identify the form schema.'
          schema:
            type: string
        - name: id
          in: path
          required: true
          description: ''
          schema:
            type: integer
      responses:
        204:
          description: 'Successfully deleted'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - Forms
      operationId: deleteFormFromACompoundRecord
  '/rest/avature/core/v1/data/compoundRecords_{entityExtensionId}/{recordId}/notes':
    get:
      summary: 'GET CompoundNotes'
      description: 'Retrieve a list of compoundnotes'
      parameters:
        - name: entityExtensionId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: cursor
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: ids
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: modified_after
          in: query
          required: false
          description: 'Unix timestamp representing the point in time after which created or updated records should be returned.'
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompoundNoteSchemaIndex'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - Notes
      operationId: indexCompoundNotes
    post:
      summary: 'POST CompoundNote'
      description: 'Create a compoundnote'
      parameters:
        - name: entityExtensionId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
      requestBody:
        description: 'The compoundnote to create'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompoundNoteSchemaStore'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompoundNoteSuccessfulWriteResponse'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        422:
          description: 'Unprocessable Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - Notes
      operationId: storeCompoundNote
  '/rest/avature/core/v1/data/compoundRecords_{entityExtensionId}/{recordId}/notes/{id}':
    get:
      summary: 'GET CompoundNote'
      description: 'Retrieve a compoundnote from its ID'
      parameters:
        - name: entityExtensionId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: id
          in: path
          required: true
          description: ''
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompoundNoteSchemaShow'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - Notes
      operationId: showCompoundNote
    patch:
      summary: 'PATCH CompoundNote'
      description: 'Modify an individual compoundnote'
      parameters:
        - name: entityExtensionId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: id
          in: path
          required: true
          description: ''
          schema:
            type: integer
      requestBody:
        description: 'The compoundnote to modify with'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompoundNoteSchemaUpdate'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompoundNoteSuccessfulWriteResponse'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        422:
          description: 'Unprocessable Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - Notes
      operationId: updateCompoundNote
    delete:
      summary: 'DELETE CompoundNote'
      description: 'Delete an individual compoundnote'
      parameters:
        - name: entityExtensionId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: id
          in: path
          required: true
          description: ''
          schema:
            type: integer
      responses:
        204:
          description: 'Successfully deleted'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        409:
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - Notes
      operationId: deleteCompoundNote
  '/rest/avature/core/v1/data/dataset_{resourceId}':
    get:
      summary: 'GET Datasets'
      description: 'Retrieve a list of datasets'
      parameters:
        - name: resourceId
          in: path
          required: true
          description: 'Numeric ID or canonical name used to identify the dataset.'
          schema:
            type: string
        - name: cursor
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: use_canonical_names
          in: query
          required: false
          description: ''
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetSchemaIndex'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        422:
          description: 'Unprocessable Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - General
      operationId: indexDatasets
  '/rest/avature/core/v1/data/dataset_{resourceId}/{id}':
    get:
      summary: 'GET Dataset'
      description: 'Retrieve a dataset from its ID'
      parameters:
        - name: resourceId
          in: path
          required: true
          description: 'Numeric ID or canonical name used to identify the dataset.'
          schema:
            type: string
        - name: id
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: use_canonical_names
          in: query
          required: false
          description: ''
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetSchemaShow'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        422:
          description: 'Unprocessable Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - General
      operationId: showDataset
    delete:
      summary: 'DELETE Dataset'
      description: 'Delete an individual dataset'
      parameters:
        - name: resourceId
          in: path
          required: true
          description: 'Numeric ID or canonical name used to identify the dataset.'
          schema:
            type: string
        - name: id
          in: path
          required: true
          description: ''
          schema:
            type: integer
      responses:
        204:
          description: 'Successfully deleted'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        409:
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - General
      operationId: deleteDataset
    patch:
      summary: 'PATCH Dataset'
      description: 'Modify an individual dataset'
      parameters:
        - name: resourceId
          in: path
          required: true
          description: 'Numeric ID or canonical name used to identify the dataset.'
          schema:
            type: string
        - name: id
          in: path
          required: true
          description: ''
          schema:
            type: integer
      requestBody:
        description: 'The dataset to modify with'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetSchemaUpdate'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetSuccessfulWriteResponse'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        422:
          description: 'Unprocessable Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - General
      operationId: updateDataset
  '/rest/avature/core/v1/data/forms_{formTypeId}':
    get:
      summary: 'GET Forms'
      description: 'Retrieve a list of forms filtering by record type'
      parameters:
        - name: formTypeId
          in: path
          required: true
          description: 'Numeric ID or canonical name used to identify the form schema.'
          schema:
            type: string
        - name: record_type
          in: query
          required: true
          description: ''
          schema:
            type: string
        - name: cursor
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: ids
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: use_canonical_names
          in: query
          required: false
          description: ''
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormSchemaIndex'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - Forms
      operationId: indexForms
  /rest/avature/core/v1/data/records_2:
    get:
      summary: 'GET People'
      description: 'Retrieve a list of people'
      parameters:
        - name: fields
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: cursor
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: ids
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: use_canonical_names
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: modified_after
          in: query
          required: false
          description: 'Unix timestamp representing the point in time after which created or updated records should be returned.'
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonSchemaIndex'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - General
      operationId: indexPeople
    post:
      summary: 'POST Person'
      description: 'Create a person'
      parameters: []
      requestBody:
        description: 'The person to create'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonSchemaStore'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonSuccessfulWriteResponse'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        422:
          description: 'Unprocessable Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - General
      operationId: storePerson
  '/rest/avature/core/v1/data/records_2/{id}':
    get:
      summary: 'GET Person'
      description: 'Retrieve a person from its ID'
      parameters:
        - name: id
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: fields
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: use_canonical_names
          in: query
          required: false
          description: ''
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonSchemaShow'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - General
      operationId: showPerson
    patch:
      summary: 'PATCH Person'
      description: 'Modify an individual person'
      parameters:
        - name: id
          in: path
          required: true
          description: ''
          schema:
            type: integer
      requestBody:
        description: 'The person to modify with'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonSchemaUpdate'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonSuccessfulWriteResponse'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        422:
          description: 'Unprocessable Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - General
      operationId: updatePerson
    delete:
      summary: 'DELETE Person'
      description: 'Delete an individual person'
      parameters:
        - name: id
          in: path
          required: true
          description: ''
          schema:
            type: integer
      responses:
        204:
          description: 'Successfully deleted'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        409:
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - General
      operationId: deletePerson
  '/rest/avature/core/v1/data/records_2/{recordId}/addresses':
    get:
      summary: 'GET AddressesFromARecord'
      description: 'Retrieve a list of addresses from a record'
      parameters:
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: cursor
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: ids
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: modified_after
          in: query
          required: false
          description: 'Unix timestamp representing the point in time after which created or updated records should be returned.'
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressFromARecordSchemaIndex'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - Addresses
      operationId: indexAddressesFromARecord
    post:
      summary: 'POST AddressFromARecord'
      description: 'Create a addressfromarecord'
      parameters:
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
      requestBody:
        description: 'The addressfromarecord to create'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressFromARecordSchemaStore'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressFromARecordSuccessfulWriteResponse'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        422:
          description: 'Unprocessable Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - Addresses
      operationId: storeAddressFromARecord
  '/rest/avature/core/v1/data/records_2/{recordId}/addresses/{id}':
    get:
      summary: 'GET AddressFromARecord'
      description: 'Retrieve an address from a record from its ID'
      parameters:
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: id
          in: path
          required: true
          description: ''
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressFromARecordSchemaShow'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - Addresses
      operationId: showAddressFromARecord
  '/rest/avature/core/v1/data/records_2/{recordId}/emails':
    get:
      summary: 'GET EmailsFromARecord'
      description: 'Retrieve a list of emails from a record'
      parameters:
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: cursor
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: ids
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: modified_after
          in: query
          required: false
          description: 'Unix timestamp representing the point in time after which created or updated records should be returned.'
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailFromARecordSchemaIndex'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - Emails
      operationId: indexEmailsFromARecord
    post:
      summary: 'POST EmailFromARecord'
      description: 'Create a emailfromarecord'
      parameters:
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
      requestBody:
        description: 'The emailfromarecord to create'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailFromARecordSchemaStore'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailFromARecordSuccessfulWriteResponse'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        422:
          description: 'Unprocessable Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - Emails
      operationId: storeEmailFromARecord
  '/rest/avature/core/v1/data/records_2/{recordId}/emails/{id}':
    get:
      summary: 'GET EmailFromARecord'
      description: 'Retrieve an email from a record from its ID'
      parameters:
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: id
          in: path
          required: true
          description: ''
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailFromARecordSchemaShow'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - Emails
      operationId: showEmailFromARecord
  '/rest/avature/core/v1/data/records_2/{recordId}/phones':
    get:
      summary: 'GET PhonesFromARecord'
      description: 'Retrieve a list of phones from a record'
      parameters:
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: cursor
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: ids
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: modified_after
          in: query
          required: false
          description: 'Unix timestamp representing the point in time after which created or updated records should be returned.'
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneFromARecordSchemaIndex'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - Phones
      operationId: indexPhonesFromARecord
    post:
      summary: 'POST PhoneFromARecord'
      description: 'Create a phonefromarecord'
      parameters:
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
      requestBody:
        description: 'The phonefromarecord to create'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneFromARecordSchemaStore'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneFromARecordSuccessfulWriteResponse'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        422:
          description: 'Unprocessable Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - Phones
      operationId: storePhoneFromARecord
  '/rest/avature/core/v1/data/records_2/{recordId}/phones/{id}':
    get:
      summary: 'GET PhoneFromARecord'
      description: 'Retrieve a phone from a record from its ID'
      parameters:
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: id
          in: path
          required: true
          description: ''
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneFromARecordSchemaShow'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - Phones
      operationId: showPhoneFromARecord
  '/rest/avature/core/v1/data/records_2/{recordId}/websites':
    get:
      summary: 'GET WebsitesFromARecord'
      description: 'Retrieve a list of websites from a record'
      parameters:
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: cursor
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: ids
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: modified_after
          in: query
          required: false
          description: 'Unix timestamp representing the point in time after which created or updated records should be returned.'
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebsiteFromARecordSchemaIndex'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - Websites
      operationId: indexWebsitesFromARecord
    post:
      summary: 'POST WebsiteFromARecord'
      description: 'Create a websitefromarecord'
      parameters:
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
      requestBody:
        description: 'The websitefromarecord to create'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebsiteFromARecordSchemaStore'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebsiteFromARecordSuccessfulWriteResponse'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        422:
          description: 'Unprocessable Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - Websites
      operationId: storeWebsiteFromARecord
  '/rest/avature/core/v1/data/records_2/{recordId}/websites/{id}':
    get:
      summary: 'GET WebsiteFromARecord'
      description: 'Retrieve a website from a record from its ID'
      parameters:
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: id
          in: path
          required: true
          description: ''
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebsiteFromARecordSchemaShow'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - Websites
      operationId: showWebsiteFromARecord
  '/rest/avature/core/v1/data/records_{entityExtensionId}':
    get:
      summary: 'GET Records'
      description: 'Retrieve a list of records'
      parameters:
        - name: entityExtensionId
          in: path
          required: true
          description: 'Numeric entity extension ID used to identify the record type.'
          schema:
            type: integer
        - name: fields
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: cursor
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: ids
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: use_canonical_names
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: modified_after
          in: query
          required: false
          description: 'Unix timestamp representing the point in time after which created or updated records should be returned.'
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSchemaIndex'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - General
      operationId: indexRecords
    post:
      summary: 'POST Record'
      description: 'Create a record'
      parameters:
        - name: entityExtensionId
          in: path
          required: true
          description: 'Numeric entity extension ID used to identify the record type.'
          schema:
            type: integer
      requestBody:
        description: 'The record to create'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordSchemaStore'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSuccessfulWriteResponse'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        422:
          description: 'Unprocessable Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - General
      operationId: storeRecord
  '/rest/avature/core/v1/data/records_{entityExtensionId}/{id}':
    get:
      summary: 'GET Record'
      description: 'Retrieve a record from its ID'
      parameters:
        - name: entityExtensionId
          in: path
          required: true
          description: 'Numeric entity extension ID used to identify the record type.'
          schema:
            type: integer
        - name: id
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: fields
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: use_canonical_names
          in: query
          required: false
          description: ''
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSchemaShow'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - General
      operationId: showRecord
    patch:
      summary: 'PATCH Record'
      description: 'Modify an individual record'
      parameters:
        - name: entityExtensionId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: id
          in: path
          required: true
          description: ''
          schema:
            type: integer
      requestBody:
        description: 'The record to modify with'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordSchemaUpdate'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordSuccessfulWriteResponse'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        422:
          description: 'Unprocessable Entity'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnprocessableEntity'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - General
      operationId: updateRecord
    delete:
      summary: 'DELETE Record'
      description: 'Delete an individual record'
      parameters:
        - name: entityExtensionId
          in: path
          required: true
          description: 'Numeric entity extension ID used to identify the record type.'
          schema:
            type: integer
        - name: id
          in: path
          required: true
          description: ''
          schema:
            type: integer
      responses:
        204:
          description: 'Successfully deleted'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        409:
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conflict'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - General
      operationId: deleteRecord
  '/rest/avature/core/v1/data/records_{entityExtensionId}/{recordId}/field_{tableFieldId}':
    get:
      summary: 'GET RecordTableFieldRows'
      description: 'Retrieve a list of record table field rows'
      parameters:
        - name: entityExtensionId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: tableFieldId
          in: path
          required: true
          description: 'Numeric ID or canonical name used to identify the table field number.'
          schema:
            type: string
        - name: cursor
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: ids
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: modified_after
          in: query
          required: false
          description: 'Unix timestamp representing the point in time after which created or updated records should be returned.'
          schema:
            type: integer
        - name: use_canonical_names
          in: query
          required: false
          description: ''
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordTableFieldRowSchemaIndex'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - 'Table Fields'
      operationId: indexRecordTableFieldRows
  '/rest/avature/core/v1/data/records_{entityExtensionId}/{recordId}/field_{tableFieldId}/{id}':
    get:
      summary: 'GET RecordTableFieldRow'
      description: 'Retrieve a record table field row from its ID'
      parameters:
        - name: entityExtensionId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: tableFieldId
          in: path
          required: true
          description: 'Numeric ID or canonical name used to identify the table field number.'
          schema:
            type: string
        - name: id
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: use_canonical_names
          in: query
          required: false
          description: ''
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordTableFieldRowSchemaShow'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerError'
      tags:
        - 'Table Fields'
      operationId: showRecordTableFieldRow
  '/rest/avature/core/v1/data/records_{entityExtensionId}/{recordId}/files':
    get:
      summary: 'GET RecordFiles'
      description: 'Retrieve a list of record files'
      parameters:
        - name: entityExtensionId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: recordId
          in: path
          required: true
          description: ''
          schema:
            type: integer
        - name: cursor
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: ids
          in: query
          required: false
          description: ''
          schema:
            type: string
        - name: modified_after
          in: query
          required: false
          description: 'Unix timestamp representing the point in time after which created or updated records should be returned.'
          schema:
            type: integer
        - name: typeid
          in: query
          required: false
          description: ''
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordFileSchemaIndex'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        404:
          description: 'Record Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordNotFound'
        429:
          description: 'Too Many Requests'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequests'
        500:
          description: 'Internal Server Error'
[...]
